.cart-item{
    display: flex;
    padding: 2rem;
    margin: 2rem 0 ;
    border: 1px solid grey;
    border-radius: 1rem;

}
.cart-item-img{
    width: 6rem;
}
.cart-item-content-container{
    padding-left: 2rem;
    padding-top: 10px;
}
.cart-item-price{
 padding-top:  2rem;
 color: var(--primary-color);
}
